
<!doctype html>
<html lang="kr">
<head>
	<meta charset="utf-8">
	<meta name="description" content="강력한 짧은 링크 서비스, 모두 링크 서비스">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="naver-site-verification" content="7652e632871bf6207ca0dd6e797a8221cfbb1fa4"/>
	<link rel="icon" href="">

	
	<title>모두 쓰는 단축URL - modu.link</title>

	<!-- Bootstrap core CSS -->
	<link href="/commons/css/bootstrap.css" rel="stylesheet">

	<!--custon CSS-->
	<link href="/commons/css/custom.css" rel="stylesheet">

	<!-- 알림창 추가 -->
	<link href="/commons/css/sweetalert2.css" rel="stylesheet">

	<!--파비콘 추가
	<link rel="shortcut icon" href="/img/shield.ico">-->
	<!-- <link href="css/screen.css" rel="stylesheet"> -->
	<!-- Custom styles for this template -->

	<!-- Bootstrap core JavaScript ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

	<script src="/commons/js/sweetalert2.all.js"></script>

	<script src="https://ads-partners.coupang.com/g.js"></script>
	<script>
		new PartnersCoupang.G({ id:123570 });
	</script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container">
		<a class="navbar-brand jeju" href="/admin">모두Link</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav mr-auto ul-fontset">
				<li class="nav-item">
					<a class="nav-link" href="/">링크만들기<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/">링크관리<span class="sr-only">(current)</span></a>
				</li>
			</ul>
		</div>
	</div>
</nav>
