<% include ./inc/head %>

<div class="page-content py-5 board-bg">
	
	<div class="container">
		<h3 style="padding-bottom: 15px;">앗.. 문제가 발생했어요.</h3>
		
		<!--PC에서 보이는 부분-->
		<div class="board-bg-white" style="padding: 1em 1em; border-radius:.3rem; margin-bottom: 1em;     background-color: white;">
			<div style="font-size: 25px;"><i class="fas fa-ban"></i> <b>정상적인 URL이 아닙니다.</b></div>
			<hr>
			<div>
				혹시 잘 이용하던 링크에 문제가 생기셨나요? <br>
				서비스가 점검중이거나, 네트워크의 문제일수도 있습니다. 조금만 기다리신뒤 다시 접속 해주세요.
			</div>
		</div>
	</div>

</div><!--//page-content-->   

<% include ./inc/footer %>