<% include ./inc/head %>

<div class="page-content py-5 board-bg">
	
	<div class="container">
		<h3 style="padding-bottom: 15px;">페이지 이동을 하고 있습니다.</h3>
		
		<!--PC에서 보이는 부분-->
		<div class="board-bg-white" style="padding: 1em 1em; border-radius:.3rem; margin-bottom: 1em;     background-color: white;">
			<div style="font-size: 25px;"><i class="fas fa-ban"></i> <b>https://naver.com로 이동중입니다.</b></div>
			<hr>
			<div>
				이동하는 페이지 주소가 맞는지 확인해주세요.<br>
				5초뒤 이동합니다.
			</div>
		</div>
	</div>

</div><!--//page-content-->   

<% include ./inc/footer %>